<!DOCTYPE html>
<html>
    <head>
        <title>Tambah Kegiatan</title>
    </head>
    <body>{% block content %}
        <div class="intro">
            <div class="center" align="center">
                <h3 class="title" style="margin-top: 2vw;">Tambah <span><br>kegiatan</span></h3>
                    <a href="{% url 'story6:dataKegiatan' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Lihat Jadwal</a>  
                  </div>
            </div>
                {% if status %}
                    {% if status == 'success' %}
                    <div class="alert alert-success" role="alert">
                        Sukses menambahkan kegiatan baru
                    </div>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        Terjadi kesalahan input, silahkan coba lagi
                    </div>
                    {% endif %}
                {% endif %}
                <section class="container-fluid d-flex flex-wrap align-content-center ">
                    <form action="" method="POST" novalidate>
                        {% csrf_token %}
                        <table class="table mx-3" style="width:88vw">
                            {{ form.as_table }}
                            <tr>
                                <td>&nbsp;</td>
                                <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
                            </tr>
                        </table>
                    </form>
            
            </section>
        </div>
        {% endblock content %}
        </body>
</html>