* {
  /* overflow-x: hidden; */
  /* padding: 0px !important; */
  /* margin: 0px !important; */
  max-width: 100%;
  /* overflow: hidden; */
}

.background {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  /* width: 1440px; */
  height: 1000px;
  overflow: auto;
  background-color: rgba(57, 55, 55, 1);
}

.header {
  position: relative;
  max-width: 100%;
  height: 140px;
  background:rgba(56, 93, 126, 1);
}

.logofasilkom {
  position: relative;
  width: 250px;
  height: 100px;
  left: 130px;
  max-width: 100%;
}

.kontak {
  /* ? 087700112510 || ?? muhammad.arsyanda@ui.ac.id */

  position: relative;
  width: 780px;
  height: 52px;
  left: 200px;
  


  font-family: Montserrat Alternates;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  /* or 0% */

  display: flex;
  align-items: center;
  font-feature-settings: 'kern' off, 'liga' off;
  color : rgba(205, 180, 91, 1);
   }

.fontStyle {
    font-family: Montserrat Subrayada;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 0px;
    color: rgba(255,255,255,1);
}

.home {
    position: relative;
    width: 100%;
    height: 74px;
    background : rgba(205, 180, 91, 1);
    font-family: Montserrat Subrayada;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 25px;
    
      /* or 0% */
    display: flex;
    justify-content:center;
    align-items: center;
    color: rgba(255,255,255,1);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.profile_img {
  position: relative;
    width: 427px;
    height: 500px;
    left: 110px;
    top: 50px;
    max-width: 100%;
}
.introduction_box {
  position: relative;
  width: 100%;
  height: 65px;
  top: 50px;
  background:rgba(56, 93, 126, 1);
  font-family: Montserrat Subrayada;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 0px;
  display: flex;
  justify-content:center;
  align-items: center;
  color : rgba(205, 180, 91, 1)

  
}



.page_content {
  position: relative;
  width: 1265px;
  min-height: 576px;
  left: 0px;
  top: 125px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  /* or 0% */
  /* display: flex;
  align-items: center;
  justify-content:center; */
  word-wrap: break-word;
  color : rgba(255,255,255,1);
}

[class*="col-"] {
  float: left;
  padding: 15px;
  /* border: 1px solid red; */ 
}

.judul {
  position: relative;
  width: 475px;
  height: 119px;
  left: 50px;
  top: 40px;

  font-family: Montserrat Subrayada;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  /* or 0% */

  display: flex;
  align-items: center;
  text-align: center;
  color:rgba(205, 180, 91, 1);
}

.line {
  position: relative;
  /* width: 1440.01px; */
  max-width: 100%;
  height: 0px;
  left: 0px;
  top: 70px;

  border: 2px solid #CDB45B;
  transform: rotate(0.24deg);
  color:rgba(205, 180, 91, 1);
}
.home_box {
  position: relative;
  width: 266px;
  max-width: 100%;
  height: 74px;
  left: 0px;
  top: 40px;
  background:rgba(56, 93, 126, 1);
  font-family: Montserrat Subrayada;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 0px;
      /* o r 0% */

  display: flex;
  justify-content:center;
  align-items: center;
  color : rgba(205, 180, 91, 1)

}

.konten {
  position: relative;
  width: 1265px;
  height: 576px;
  left: 98px;
  top: 150px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 50px;
  /* or 0% */
  color : rgba(255,255,255,1);
}

.dotalogo {
  position: relative;
  max-width: 255px;
  width: 100%;
  /* max-width: 100%; */
  /* max-height: 100%; */
  height: 197px;
  left: 206px;
  top: -50px;
}

.codinglogo {
  position: relative;
  width: 224px;
  height: 197px;
  left: 500px;
  top: -50px;
}

.caption {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 0px;
  color:rgba(205, 180, 91, 1);
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (max-width: 768px) {

  .box_d {
    top:30px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .header_phone {
    height: 170px;
  }
}

@media only screen and (max-width: 768px) {
  .img_phone {
    max-width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .font_size {
    font-size: 20px;
  }
}



