

{%load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script src="{% static 'staticfiles/script.js' %}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script >
      $(document).ready(function() {
    $(function() {
        $("#accordion").accordion({
            collapsible: true,
            active: false,
        });
    });
});
  </script>


  
</head>

<body>
    <div class="container">
    <h1><center>accordion</center></h1>
    <div id="accordion">
    <h3>Lorem Ipsum</h3>
    <div>
        <p>
            test
        </p>
    </div>
    <h3>Lorem Ipsum</h3>
    <div>
        <p>
        test
        </p>
    </div>
    <h3>Lorem Ipsum</h3>
    <div>
        <p>
        test
        </p>
    </div>
    <h3>Lorem Ipsum</h3>
    <div>
        <p>test</p>
    </div>
    </div>
    </div>
</body>
</html>
