<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body>
<div class="row">
    <div class="col-md-12" style="text-align: left;">
        <form action='' method="POST">
            {% csrf_token %}
            {{ form }}
            <div class="centre-items" style="margin-top: 50px; text-align: center;">
                <input type="submit" class="btn btn-primary" value="Add Form" style="margin-bottom: 50px;">
            </div>
        </form>
    </div>
    <div class="col" id="tulisan">
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Mata Kuliah</th>
                <th scope="col">Dosen</th>
                <th scope="col">SKS</th>
                <th scope="col">Tahun</th>
                <th scope="col">Kelas</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for matkulz in mtkul %}
                <tr>
                    <th scope="row">{{matkulz.nama_Matkul}}</th>
                    <td>{{matkulz.dosen_Pengajar}}</td>
                    <td>{{matkulz.jumlah_SKS}}</td>
                    <td>{{matkulz.deskripsi}}</td>
                    <td>{{matkulz.ruang_Kelas}}</td>
                    <td><a href="{% url 'story5:delete' pk=matkulz.pk %}"><button class="btn btn-icon btn-danger">Delete</button></a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
