<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>About Me</title>
</head>
<body>
  <div class="background">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <div class="judul">ABOUT ME</div>
        </a>
        
        <!-- <a href="{% url 'mypage:index' %}" class="home_box">HOME</a> -->
      </nav>
      <div class="line"></div>
      <div class="container" style="margin-left: -2em;">
        <div class="row">
          <div class="col-md-12">
            <div class="konten">Hai!, Perkenalkan nama saya adalah Muhammad Arsyanda Tjandra seperti yang di halaman pertama, saya adalah seorang mahasiswa di Universitas Indonesia dengan program studi ilmu komputer. Saya bercita-cita ingin menjadi seorang software engineer handal yang bisa membuat perubahan di dunia. Saya tamat SMA pada tahun 2019 dari SMA Islam Al - Azhar 1 Jakarta. Hobi saya adalah bermain game yaitu DOTA 2 dan saya juga sangat menyukai ngoding</div>
  
          </div>
          <div class="col-md-4">
            <img src="{% static 'dotalogo.png' %}" style="margin-left: 5em;">
          </div>
          <div class="col-md-4">
            <img src="{% static 'codinglogo.jpeg' %}" style="margin-left: 5em;" >
          </div>
        </div>
      </div>
  
  </div>
</body>

</html>
