{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
    <title>Home</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    {% block content %}
    <div class="background">
      <div class="header header_phone">
        <nav class="navbar">
          <a class="navbar-brand" href="#">
            <img src="{% static 'v21_10.png' %}" class="logofasilkom phone">
          </a>
          <div class="kontak">📞 087700112510 || 📩 muhammad.arsyanda@ui.ac.id</div>
        </nav>
      </div>
      <div class="row">
        <div class="col-3 box_d">
          <a href="{% url 'mypage:gallery' %}"class="home font_size"> GALLERY</a>

        </div>
        <div class="col-3 box_d">
          <a href="{% url 'mypage:about_me' %}" class="home font_size">ABOUT ME</a>
        </div>
        <div class="col-3 box_d">
          <a href="{% url 'mypage:skill' %}" class="home font_size">SKILL</a>
        </div>
        <div class="col-3 box_d font_size">
          <a href="{% url 'mypage:social_media' %}" class="home font_size">SOCIAL MEDIA</a>
        </div>
        <div class="col-6">
          <img src="{% static 'v5_1.png' %}" class="profile_img img_phone">
        </div>
        <div class="col-6">
          <div class="introduction_box">introduction</div>
          <div class="page_content">Nama saya adalah Muhammad Arsyanda Tjandra, saya adalah seorang mahasiswa S1 di Universitas Indonesia jurusan ilmu komputer</div>
  
        </div>
      </div>
    </div>
    {% endblock %}
    {% else %}
    <p><a href="/login">Login</a></p>
    {% endif %}
  </body>

</html>



