<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Skill</title>
</head>
<body>
  <div class="background">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <div class="judul">SKILL</div>
        </a>
        <a href="{% url 'mypage:index' %}" class="home_box">HOME</a>
      </nav>
      <div class="line"></div>
      <div class="container" style="margin-left: -2em;">
        <div class="row">
          <div class="col-md-12">
            <div class="konten">Saya mempunyai beberapa skill yaitu : <br />- Mengerti bahasa pemrograman Python<br /> - Mengerti bahasa pemrograman Java <br />- Bisa ber-organisasi / bekerja sama dengan orang lain <br />- Bisa menggunakan Microsoft Office <br />- Bisa membuat website</div>
  
          </div>
          <div class="col-md-4">
            <img src="{% static 'javalogo.png' %}">
          </div>
          <div class="col-md-4">
            <img src="{% static 'pythonlogo.png' %}">
          </div>
          <div class="col-md-4">
            <img src="{% static 'djangologo.png' %}">
          </div>
        </div>
      </div>
  
  </div>
</body>

</html>