<!DOCTYPE html>
{% load static %}
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>Social Media</title>
</head>
<body>
  <div class="background">
      <nav class="navbar">
        <a class="navbar-brand" href="#">
          <div class="judul">Social media</div>
        </a>
        <a href="{% url 'mypage:index' %}" class="home_box">HOME</a>
      </nav>
      <div class="line"></div>
      <div class="container" style="margin-top: 10em;">
        <div class="row">
          <div class="col-md-4">
            <img src="{% static 'twitterlogo.png' %}">
            <div class="caption" style="margin-top: 2.5em;">@arsyandatj</div>
          </div>
          <div class="col-md-4">
            <img src="{% static 'instagramlogo.jpeg' %}">
            <div class="caption" style="margin-top: 3em;">@arsyandatj</div>
          </div>
          <div class="col-md-4">
            <img src="{% static 'spotifylogo.png' %}">
            <div class="caption" style="margin-top: 2em;">@arsyandatj</div>
          </div>
        </div>
      </div>
  
  </div>
</body>

</html>