
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story 9 </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
  </head>
  <body>
      <div class="container">
          {% block content %}
          <form method="POST" class="form-group">
              {% csrf_token %}
              {{form}}
              <button type="submit" class="btn btn-success">Register</button>
          </form>
          {% endblock %}
      </div>
  </body>
  </html>